* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.gamefield {
  width: 290px;
  height: 500px;
  border: 2px solid black;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.gamefield .cell {
  display: flex;
  margin: 0;
  width: 19px;
  height: 19px;
  border: 1px solid black;
}
